html {
font-szie: 10px;
font-family: 'Slabo 27px', serif;
background-color: #DDEBF3;

h1 {
	font size: 60px;
	text-align: center;
}

p,li {
font-size: 16px;
line-height: 2;
letter-spacing: normal;
}

}
